
.icon-github-3:before { content: '\e800'; } /* '' */
.icon-github-2:before { content: '\f055'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-github-text:before { content: '\f307'; } /* '' */